.Burger {
    max-width: 600px;
    margin: auto;
    margin-bottom: 10px;
    min-height: 300px;
    text-align: center;
    font-weight: bold;
    font-size: 1.2rem;
    position: relative;

    display: flex;
    flex-flow: column;
    justify-content: flex-end;
}

@media (min-width: 1000px) {
    .Burger {
        min-height: 80vh;
    }
}