/* .CheckoutSummary {
    text-align: center;
    width: 80%;
    height: 100%;
    margin: auto;
}
.container {
    width: 100%;

    margin: auto;
}
@media (min-width: 600px) {
    .CheckoutSummary {
        width: 500px;
    }
} */